body {
	background-color: grey;
	font-size: 24px;	
   	width: 100vw;
  	overflow-y: overlay;
   	overflow-x: hidden;
}
header {
	text-align: left;
}
ul, li {
	text-align: left;
	list-style: none;
	display: table;
	margin: 0 auto;
	padding:0;
	font-size: 36px;
}
li {
	margin-top: 10px;
	font-size: 24px;
	margin-bottom: 10px;
}
a {
	color: #404040;
	font-family: monospace;
	text-decoration: none;
}
a:hover {
  opacity: 0.9;
}
p {
	font-family: monospace;
	color: black;
	text-align: left;
}
footer {
	text-align: left;
}
#code {
	color: green;
	background-color: black;
}


/*flex-box stuff here*/

.row {
	text-align: left;
	align-items: center;
  display: flex;
  flex-wrap: wrap;
	width: 60%;
	margin: auto;
	justify-content: space-around;
}
.main {
  flex: 100%;
  background-color: lightgrey;
  padding: 20px;
	height: 100%;
	color: black;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: lightgrey;
  border: solid black 1px;
  width: 100%;
  text-align: left;
}
